# Bỏ qua thư mục chứa thư viện (Rất quan trọng, không bao giờ push cái này lên Git)
node_modules/

# Bỏ qua thư mục build sản phẩm cuối cùng
dist/
dist-ssr/
build/

# Bỏ qua các file logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Bỏ qua các file biến môi trường (Chứa API Key, Password... tuyệt đối không push)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# Bỏ qua các file cấu hình của hệ điều hành
.DS_Store
Thumbs.db

# Bỏ qua các file cache và setting của trình soạn thảo code (VS Code, WebStorm...)
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cache của các công cụ khác
.eslintcache
.stylelintcache